<% if @extract_links.present? %>
  <h2>Extracted URLs</h2>
  <table>
    <thead>
    <tr>
      <th>URL</th>
      <th>Anchor Text</th>
    </tr>
    </thead>
    <tbody>
    <% @extract_links.each do |link| %>
      <tr>
        <td><a href="<%= link[:url] %>" target="_blank"><%= link[:url] %></a></td>
        <td><%= link[:anchor_text] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
